body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: url("https://cur.cursors-4u.net/games/gam-11/gam1090.png"), auto ;
  background-color: #35382f;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul{
  list-style: none;
  padding-left: 15px;
}

li{
  padding-top: 1em;
}

.fourofour-content{
  text-align: center;
  margin-top: 3em;
}

.nav-active{
  list-style: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="50" height="50" viewBox="0 0 50 50" xml:space="preserve"><g transform="matrix(0 0 0 0 0 0)" id="043b2c4e-6b20-4313-861b-3d64fc443cf6"  ></g><g transform="matrix(1 0 0 1 25 25)" id="27b4e0a8-412f-4cae-bd74-02d3a1bcf28b"  ><rect style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1; visibility: hidden;" vector-effect="non-scaling-stroke"  x="-25" y="-25" rx="0" ry="0" width="50" height="50" /></g><g transform="matrix(0 0.69 -0.69 0 24.7 24.58)" id="c8dd0802-02ef-4e50-aa54-89ea8e58010c"  ><polygon style="stroke: rgb(0,0,0); stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(80,182,223); fill-rule: nonzero; opacity: 1;" vector-effect="non-scaling-stroke"  points="-37.43,32.41 0,-32.41 37.43,32.41 " /></g></svg>');
  cursor: unset;
}

.header{
  display:flex;
  justify-content: center;
  padding: 1em 0 2em 0;
  height: fit-content;
}

.dofusimg{
  width: 100px;
  padding: 0 1em 0 1em;
}

.navbar-container{
  display: flex;
  
}

.navbar{
  position: fixed;
  background-color: #292921;
  width: 80px !important;
  min-height: 100vh;

}

.img_info{
  width: 50px;
}

.content-page{
  margin-left: 80px;
  width: 100%;
  padding-bottom: 50px;
}

.items-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-item{
  background-color: #292921;
  margin: 1em;
  border-radius: 20px;
  min-width: 200px;
  max-width: 200px;
  min-height: 300px;
  max-height: fit-content;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.card-item > *{
  align-self: center;
  text-align: center;
}

.img-item{
  height: 200px;
  width: 200px;
  padding-bottom: 1em;
}

.welcome-header{
  margin: 1em 0 0 0;
}

.item-name{
  padding-bottom: 1em;
}


.description{
  position: absolute;
  visibility: hidden;
  max-width: 200px;
  background-color: #555;
  padding: 0.7em;
  border-radius: 10px;
  margin-left: -160px;
  transition: opacity 0.3s;
  opacity: 0;
}

.description-container:hover .description{
  visibility: visible;
  opacity: 1;
}

.info-img{
  position: absolute;
  margin-left: 70px;
}
