body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: url("https://cur.cursors-4u.net/games/gam-11/gam1090.png"), auto ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-active{
  color: coral;
}

.header{
  display:flex;
  justify-content: center;
}

.dofusimg{
  width: 100px;
}

.navbar-container{
  display: flex;
  
}

.navbar{
  background-color: #292921;
width: 100px;
height: 100vh;
}

